.show-summary {
    padding: 10px;
    margin: 20px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: lightgray;
}

.show-title:hover {
    text-decoration: none;
  }

.track-button, .untrack-button {
  margin: 10px 0 10px 0;
}

.active {
  color: green;
}

.show-info {
  list-style-type: none;
  padding: 0;
}

.body {
  padding: 10px;
}

.sort, .filter {
  margin: 10px;
  margin-bottom: 10px;
}

.vertical-divider {
  width: 50px;
}

.active-sort {
  font-weight: bold;
}