{% extends "tv/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ show.name }}</h2>
    <div class="container float-left show" id="show-{{ show.id }}">
        <div class="row">
            {% if show.image %}
                <div class="col-md-4">
                    <img src="{{ show.image }}" alt="{{ show.name }}">
                </div>
            {% endif %}
            <div class="col-md-4">
                {{ show.summary|safe }}
            </div>
            <div class="col-md-4">
                <ul class="show-info">
                    <li><strong>Channel:</strong> {{ show.channel }}</li>
                    <li><strong>Premiered:</strong> {{ show.premiered }}</li>
                    <li><strong>Most Recent Episode:</strong> {{ show.mostrecentairdate }}</li>
                    <li><strong>URL:</strong> <a href="{{ show.url }}">{{ show.url }}</a></li>
                    <li><strong>Status:</strong> {{ show.status }}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% include 'tv/track.html' with show=show user=user %}
        </div>
    </div>


{% endblock %}

{% block script %}
    <script type="module" src="{% static 'tv/script.js' %}"></script>
{% endblock %}

{% load static %}