{% extends "tv/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{show.name}}</h2>
    <div class="container float-left show">
        <div class="row">
            {% if show.image.medium %}
                <div class="col-md-4">
                    <img src="{{ show.image.medium }}" alt="{{ show.name }}">
                </div>
            {% endif %}
            <div class="col-md-3">
                {{ show.summary|safe }}
            </div>
            <div class="col-md-3">
                <ul class="show-info">
                    <li><strong>Channel:</strong> {{ show.channel }}</li>
                    <li><strong>Premiered:</strong> {{ show.premiered }}</li>
                    <li><strong>Most Recent Episode:</strong> {{ show.mostrecentairdate }}</li>
                    <li><strong>URL:</strong> <a href="{{ show.url }}">{{ show.url }}</a></li>
                    <li><strong>Status:</strong> {{ show.status }}</li>
                </ul>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-lg-2 col-sm-4">
                    <button class="btn btn-secondary track-button">Track/Untrack</button>
                </div>
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block script %}
    <script type="module" src="{% static 'tv/script.js' %}"></script>
{% endblock %}

{% load static %}