<div class="container-sm show-summary" id="show-{{ show.id }}">
    <div class="row">
        <div class="col-lg-10 col-sm-8">
            <h3>
                <a class="show-title" href="{% url 'tv:show' show.id show.name|lower|slugify %}">{{ show.name }}</a>
                {% if show.channel %}
                    <span> &mdash; {{ show.channel }}</span>
                {% endif %}

                {% if show.startyear and show.endyear %}
                    {% if show.startyear == show.endyear %}
                        <span> ({{ show.startyear }})</span>
                    {% else %}
                        <span> ({{ show.startyear }}&ndash;{{ show.endyear }})</span>
                    {% endif %}
                {% elif show.startyear and not show.endyear %}
                    <span> ({{ show.startyear }}&ndash;)</span>
                {% endif %}
            </h3>
            <p>
                {% if show.mostrecentairdate %}
                    <span><strong>Most Recent Episode:</strong> {{ show.mostrecentairdate }}</span>
                {% endif %}
                {% if show.status %}
                    <span> | <strong>Status:</strong> {{ show.status }}</span>
                {% endif %}

            </p>
        </div>

        {% include 'tv/track.html' with show=show user=user %}

    </div>
</div>